[Unit]
Description=First time boot config script launcher
Wants=network-online.target
After=network-online.target 
#nss-lookup.target

[Service]
Type=simple
ExecStart=/opt/ib/initib.sh
User=root
[Install]
WantedBy=multi-user.target 
